dist/
build/
.vscode/
.idea/
__pycache__/
*.log
*.egg-info/
reports/
static/
tutorial/bframer/bframer.db
!tutorial/bframer/static
*.db
.cache/
site/
docs/index.md
favicon.ico
!docs/favicon.ico